extends layout

block content
  div(style="text-align: center ;")
    img(src="/images/ssrd.png")
    p Welcome to #{title}
    img(src="http://78.media.tumblr.com/c5d81ad29dd409035a641cd08c45bc7b/tumblr_ms099anFgz1rvk1q8o1_250.gif")
